
<h1 mat-dialog-title>Advertencia!</h1>
<div mat-dialog-content>
    <p>
        Se requiere al menos 3 cotizaciones para generar un cuadro, necesitara una justification.
    </p>
    <p>¿Generar de todos modos?</p>
</div>
<div mat-dialog-actions align="end" class="btns-actions" >
    <button mat-button mat-dialog-close>CANCELAR</button>
    <button class="btns" mat-raised-button >GENERAR</button>
</div>

<style>

    .btns{
      color: white;
      background-color: var(--btn-color-pri);
  
    }
  </style>