<div style="display: flex; justify-content: center;  align-items: center;" >
    <div class="container">
        <div style="width: 100%; border-radius: 10px;  height: 7px; "   [ngStyle]="{'background-color':getColorSR(quotation?.state)}">
        
        </div>
        <div class="title" >
            <h1>
                Cotización 
            </h1>
        </div>
        <div class="section__info">
            <div class="info__company">
                <div *ngIf="business?.nit==null">
                    <h2 class="subtitle">{{business?.name}}</h2>
                </div>
                <div *ngIf="business?.nit!=null">
                    <h2 class="subtitle">{{business?.name}}</h2>
                    <div class="company__line" >
                        <div style="width: 60%;">
                            <h3>NIT</h3>
                            <p>{{business?.nit}}</p>
                        </div>
                        <div style="width: 40%;">
                            <h3>Rubro</h3>
                            <p>{{business?.nameArea}}</p>
                        </div>
                    </div>
                    <div class="company__line" >
                        <div style="width: 60%;">
                            <h3>e-mail</h3>
                            <p style="color: #0a6cff;"> {{business?.eMail}}</p> 
                        </div>
                        <div style="width: 40%;">
                            <h3>Telefono</h3><p>
                                {{business?.phone}}</p>
                         </div> 
                    </div>
                    <div class="company__line">   
                        <div style="width: 100%;"><h3>Dirección</h3><p>{{business?.adress}} </p></div>

                    </div>
                </div>

            </div>
            <div class="info__quot">
                <h2>Información</h2>
                <div class="quot__line" >
                    <div style="width: 50%;">
                        <h3>Forma de pago</h3>
                        <p>{{quotation?.wayOfPayment}}</p>
                    </div>
                    <div style="width: 50%;">
                        <h3>Tiempo de garantia</h3>
                        <p>{{quotation?.garantyTerm}} meses</p>
                    </div>
                </div>
                <div class="quot__line"  >
                    <div style="width: 50%;">
                        <h3>Tiempo de entrega</h3>
                        <p>{{quotation?.deliveryTerm}} dias</p> 
                    </div>
                    <div style="width: 50%;">
                        <h3>Validez de oferta</h3>
                        <p> {{quotation?.offValidation}}</p>
                     </div> 
                </div>
                

                <app-files [idQuot]="idQuot" [code]="'documentQuot'"
                style="width: 100%;"   >
                </app-files>
                <!--div style="width: 90%; text-align: end; margin-top: 25px;">
                    <h3 style="text-transform: uppercase;" [ngStyle]="{'color':getColorSR(quotation.state)}">{{quotation?.state}}</h3></div-->
            </div>
        </div>  
        <mat-divider style="margin-top: 15px; margin-bottom: 15px;"></mat-divider>

        <div class="section__chart">

            <div  class="chart__details" style="display: grid; place-items: center;">
                <h2 style="        font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.5px;
                color:  rgb(59, 55, 59);">Detalles</h2>
                <div>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">

                        <ng-container matColumnDef="index" >
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;font-weight: bold;"> Nro </th>
                            <td mat-cell *matCellDef="let element;let i=index;" style="text-align: center;" > {{i+1}} </td>
                        </ng-container>
    
                        <ng-container *ngFor="let columna of columnas" matColumnDef="{{columna.name}}" >
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;  min-width: 85px; font-weight: bold;"> {{columna.titulo}}  </th>
                          <td mat-cell *matCellDef="let element" style="min-width: 85px;text-align: center;"> {{element[columna.name]}} </td>
                        </ng-container>
    
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <div style="width: 100%; display: flex; justify-content: flex-end; ">
                        <div class="chart__TOTAL">
                            <h3>Bs. {{quotation?.total}}</h3>
                          </div>
                      </div>
                      
                </div>
                

            </div>

            <div style="width: 100%; display: flex; justify-content: center;">
                <div class="chart__coment" *ngIf="quotation?.commentary!=null">
                    <h3>Comentarios</h3>
                    <p> {{quotation?.commentary}}
                    </p>
                </div>
            </div>
        </div>

        <mat-divider style="margin-top: 15px; margin-bottom: 15px;"></mat-divider>
        <div class="section__actions">
            <button mat-button [routerLink]="['/req-content', idSR]" > VOLVER</button>
        </div>
    </div>
</div>
