
<div>
    <div style="text-align: center; width: 100%;">
        <h2 style="color: var( --txt-color-subt);">REGISTRO DE EMPRESA</h2>
    </div>
    <h2 style=" display: flex; color: var( --txt-color-subt);">Nombre de la empresa: 
        <p style="font-weight: normal; margin-left: 15px;">{{razonSocial}}</p></h2>
    <div class="form-base__s1" >
        <div class="form-base__s1--fds"  style=" width: 100%;">
                
            <div>
                <mat-form-field  appearance="outline">
                    <mat-label>Nro de NIT</mat-label>
                    <input matInput placeholder="Ingrese nro de NIT"  type="text">
                <mat-error class="form__validation--size">campo NIT es requerido</mat-error>
                </mat-form-field>
            </div>
            <div  >                           
                <mat-form-field  appearance="outline">
                    <mat-label>Telefono</mat-label>
                    <input matInput placeholder="Ingrese Validez de oferta"  type="text"> 
                <mat-error class="form__validation--size">campo telefono es requerido</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-base__s1--fds"  style=" width: 100%;">
            <div>
                <mat-form-field  appearance="outline">
                    <mat-label>e-mail</mat-label>
                    <input matInput placeholder="Ingrese coreo electronico" type="email">
                <mat-error class="form__validation--size">campo e-mail es requerido</mat-error>
                </mat-form-field>
            </div>
            <div  >                           
                <mat-form-field  appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput placeholder="Ingrese Validez de oferta"  type="text"> 
                <mat-error class="form__validation--size">campo direccón es requerido</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div  class="form-actions">
        <button mat-button style="color: #ff4848;margin-right: 15px;"  type="button"> CANCELAR</button>
        <button mat-raised-button class="btn-raised" style="margin-right: 25px; font-size: 17px;" type="submit" >
            REGISTRAR
        </button>
    </div>
</div>

<style>
    .form-base__s1{
        text-align: center;
    }
    .form-base__s1 div{

        justify-content: center;
        display: inline-flex;
    }

    .form-base__s1--fds div{
        width: 100%;
        padding: 15px 35px 15px 35px;

    }
    .form-base__s1--fds mat-form-field{
        width: 100%;
    }
    .form-actions{
        text-align: end; width: 100%;
        
    }
    .btn-raised {
         color: white;
        background-color: var(--btn-color-pri);
    }
</style>