<div style="        display: grid;
place-items: center;">
    <div class="container">
        <div class="header" style="margin-top: 30px; width: 100%;">
            
            <div class="header__title">
                <h1>Solicitud de compra y servicios</h1>
                <h3>Solicitado por proyecto SEFW</h3>
            </div>
            <div class="header__data" style="text-align: end;">
                <p class="header__data--n">Nro 475</p>
                <p>emitido el dd/mm/yy</p>
            </div>
            <h3 id="solicitante">Solicitante: <p>Marco Antonio Buenavista gonzales</p></h3>
        </div>
        <div class="section" style="width: 100%;">

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false" class="section--desc" >
                  <mat-expansion-panel-header style="background-color:  #fafafa;">
                    <mat-panel-title style="font-weight: bold;">
                      DESCRIPCION
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p style="margin-top: 10px; font-size: 17px;">Lista de productos/servicios</p>
                  <div style="display: grid; place-items: center;"><table mat-table [dataSource]="dataSource" class="mat-elevation-z5">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> CANTIDAD </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> UNIDAD </th>
                      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef> DETALLE </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table></div>
                  <div class="desc__foot" style="        margin-top: 20px;">
                        <h3>Total estimado: <p style="margin-left: 10px;font-weight: 400;">Bs 19 000.00</p> </h3>
                        <h3>Justifiacion</h3>
                        <p style="margin:0 20px 0 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, accusamus, velit accusantium eaque commodi voluptas at doloribus soluta delectus iusto inventore deleniti! Numquam necessitatibus perferendis harum officiis, animi fuga distinctio.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, accusamus, velit accusantium eaque commodi voluptas at doloribus soluta delectus iusto inventore deleniti! Numquam necessitatibus perferendis harum officiis, animi fuga distinctio.</p>
                  </div>
                  <div  style="text-align: end; margin-bottom: 10px; margin-top: 15px;">
                        <button mat-raised-button class="btn-raised-e">RECHAZAR</button>
                        <button mat-raised-button class="btn-raised-s">AUTORIZAR</button>
                  </div>
                </mat-expansion-panel>

                <!--p> SEGUNDA SECCION</p-->
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false" class="section--cot"  style="margin-top: 10px;">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        COTIZACIONES
                    </mat-panel-title>

                </mat-expansion-panel-header></mat-expansion-panel>
  
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false" class="section--cot"  style="margin-top: 10px;">
                <mat-expansion-panel-header>
                <mat-panel-title>
                    CUADROS COMPARATIVOS
                </mat-panel-title>

            </mat-expansion-panel-header></mat-expansion-panel>
            <div>
                <h3>COTIZACIONES</h3>
                <!--mat-form-field appearance="fill">
                    <mat-label>Elija una fecha limite</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field-->
                <div>

                </div>
                <div style="text-align: center;">
                    <button mat-raised-button class="btn-raised-p" (click)="openDialog()" > <mat-icon>add</mat-icon> COTIZACIÓN</button>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    table {
        width:85%;
    }
    .container{
        padding: 0 15px 0 15px;
        display: grid;
        place-items: center;
        background-color: rgb(255, 255, 255);
        width: 80%;
        min-width: 800px;
        height: 100%;
        min-height: max-content;
    }
    .header__title{
        text-align: center;
    }
    .header__title h3{
        font-weight: lighter;
        line-height: 0px;
    }

    .header__data--n {
        color: var(--txt-color-error);
        font-weight: 500;
    }
    .header__data p{
        line-height: 15px;
    }
    #solicitante{
        display: flex;
        font-size: 17px;
        font-weight: bolder;
        color: var(--txt-color-subt);
    }
    #solicitante p{
        margin-left: 10px;
        font-weight: 400;
    }
    .desc__foot h3{
        display: flex;
        font-size: 17px;
        font-weight: bolder;
        color: var(--txt-color-subt);
        line-height: 15px;
    }
    .btn-raised-e{
        background-color: var(--btn-color-error);
        color:white;
        margin-right: 20px;
    }
    .btn-raised-s{
        color:white;
        background-color: var(--btn-color-scss);margin-right: 20px;
    }
    .btn-raised-p{
        background-color: var(--btn-color-pri);
        color:white;

    }
</style>
