<div style="        display: grid;
place-items: center;">
    <div class="container">
        <div class="header" style="margin-top: 30px; width: 100%;">
            
            <div class="header__title">
                <h1>{{reqReceived?.type}}</h1>
                <h3 *ngIf="reqReceived?.initials!=null" style="font-style: italic;">Solicitado por proyecto {{reqReceived?.initials}}</h3>
            </div>
            <div class="header__data" style="text-align: end;">
                <p class="header__data--n">Nro {{reqReceived?.idSpendingUnitRequest}}</p>
                <p [ngStyle]="{'color':getColorSR(reqReceived?.status)}"
                    style="font-style: italic; font-size: 17px; text-transform: uppercase; font-weight: 600;">
                    {{reqReceived?.status}}</p>
            </div>
            <p style="font-style: italic;">Emitido el {{reqReceived?.date}}</p>
            <h3 id="solicitante">Solicitante: <p>{{reqReceived?.username}}</p></h3>
        </div>
        <div class="section" style="width: 100%;">
            <mat-accordion>
                <mat-expansion-panel expanded  (opened)="panelOpenState = true" 
                                     (closed)="panelOpenState = false" class="section--desc" >
                  <mat-expansion-panel-header style="background-color:  #fafafa;">
                    <mat-panel-title style="font-weight: bold;">
                      DESCRIPCIÓN
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p style="margin-top: 10px; font-size: 17px;">Lista de productos/servicios</p>



                  <div style="display: grid; place-items: center;">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">

                    <ng-container matColumnDef="index" >
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;font-weight: bold;"> Nro </th>
                        <td mat-cell *matCellDef="let element;let i=index;" style="text-align: center;" > {{i+1}} </td>
                    </ng-container>

                    <ng-container *ngFor="let columna of columnas" matColumnDef="{{columna.name}}" >
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;  min-width: 85px; font-weight: bold;"> {{columna.titulo}}  </th>
                      <td mat-cell *matCellDef="let element" style="min-width: 85px;text-align: center;"> {{element[columna.name]}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table></div>

                  <div class="desc__foot" style=" margin-top: 25px;">
                        <div >
                            <h3 style="  text-align: end;">Total estimado: 
                                <p style="display: inline-flex; font-weight: 400;">Bs. {{reqReceived?.estimatedAmount}}</p> 
                            </h3>
                        </div>
                        <h3 >Justificación:</h3>
                        <p style="margin:0 20px 0 20px;">{{reqReceived?.justification}} Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                  </div>
                  <div  style="text-align: end; margin-bottom: 10px; margin-top: 15px;">
                        <button mat-raised-button class="btn-raised-e">RECHAZAR</button>
                        <button mat-raised-button class="btn-raised-s">AUTORIZAR</button>
                  </div>
                </mat-expansion-panel>

                <!-- COTIZACIONES -->
                <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="section--desc" >
                    <mat-expansion-panel-header style="background-color:  #fafafa;">
                    <mat-panel-title style="font-weight: bold;">COTIZACIONES</mat-panel-title> 
                    </mat-expansion-panel-header>

                        <div class="quotations-section">
                            <div style="text-align: center; padding: 25px;;">
                                <p>Es necesario elegir una fecha de vencimiento para los formularios.</p>
                                <mat-form-field  appearance="outline">
                                <mat-label>Fecha de vencimiento</mat-label>
                                <input matInput  type="date" placeholder="Ingrese fecha limite *"  > 
                                <mat-error >campo obligatorio</mat-error>
                            </mat-form-field></div>

                            <div class="quotation--cards">
                                <mat-grid-list cols="3"  rowHeight="fit" style="height: 300px;" gutterSize="10px" >
                                    <mat-grid-tile *ngFor="let quotCard of quotationsCard">
                                    <app-qoatation-card style="width: 100%;" [idQ]="quotCard?.name" [nameCompany]="quotCard?.nameCompany" [status]='quotCard?.status' [date]='quotCard?.date'></app-qoatation-card>
                                </mat-grid-tile>
                                
                            </mat-grid-list>
                            </div>

                            <div style="text-align: center;padding: 15px;">
                                <button mat-raised-button class="btn-raised-p" (click)="openDialog()" > <mat-icon>add</mat-icon> COTIZACIÓN</button>
                            </div>
                        </div>
                        <!--CUADROS COMPARATIVOS-->
                </mat-expansion-panel>
                        <mat-expansion-panel expanded  (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="section--desc" >
                            <mat-expansion-panel-header style="background-color:  #fafafa;">
                            <mat-panel-title style="font-weight: bold;">CUADROS COMPARATIVOS</mat-panel-title> 
                            </mat-expansion-panel-header>

                        <div class="comparative-section">
                            <div class="selection-quotation">
                                <p style="font-size: 17px; font-weight: 500;">Cotizaciones completadas</p>
                                <mat-selection-list #quots>
                                    <mat-list-option *ngFor="let quot of quotationsCompleted">
                                        {{quot.nameCompany}}
                                    </mat-list-option>
                                </mat-selection-list>
                                <p style="color: #0a6cff; font-size: 12px;"> Seleccionar al menos 3 cotizaciones </p>
                            </div> 
                            <div style="text-align: center;padding: 15px;">
                                <button mat-raised-button class="btn-raised-p" >GENERAR CUADRO</button>
                            </div>

                            <div class="comparative__charts">
                                <p>CUADROS COMPARATIVOS</p>
                                <app-comparative-chart *ngFor="let i of [1,2]"></app-comparative-chart>
                            </div>

                            
                        </div>
                    
                </mat-expansion-panel>

                <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="section--desc" >
                    <mat-expansion-panel-header style="background-color:  #fafafa;">
                    <mat-panel-title style="font-weight: bold;">DECISIÓN E INFORMES</mat-panel-title> 
                    </mat-expansion-panel-header>
                <div class="decisionReports-section">
      
                    <div class="selection-quotation">
                        <p>EMPRESAS A ELEGIR</p>
                        <mat-selection-list #quots>
                            <mat-list-option *ngFor="let quot of quotationsCompleted">
                                {{quot}}
                            </mat-list-option>
                        </mat-selection-list>
                        <p> Seleccionados: {{quots.selectedOptions.selected.length}} </p>
                    </div>
                    <div class="report-section">
                        <mat-divider></mat-divider>
                        <mat-list>
                            <div mat-subheader> archivos</div>
                            <mat-list-item *ngFor="let report of reports">
                                <mat-icon mat-list-icon>description</mat-icon>
                                <div mat-line>{{report.name}}</div>
                                <div mat-line>{{report.date}}</div>
                            </mat-list-item>

                        </mat-list>
                        <mat-divider></mat-divider>
                    </div>
                    <div class="report--comentary">
                        <mat-form-field appearance="outline">
                            <mat-label>Comentario</mat-label>
                            <input matInput >
                          </mat-form-field>
                    </div>
                    <div>
                        <div style="text-align: center;padding: 15px;">
                            <button mat-raised-button class="btn-raised-error" >RECHAZAR</button>
                            <button mat-raised-button class="btn-raised-success" >APROBAR</button>
                        </div>
                        
                    </div>
                </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
