mat-expansion-panel {
  margin-top: 15px;
}
table {
  width: 85%;
}

.container {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 15px;
  padding-bottom: 30px;
  width: 70%;
  min-width: 900px;
  min-height: max-content;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 50px -15px #c2c2c2;
  border-radius: 10px;
}
.header__title {
  text-align: center;
}
.header__title h3 {
  font-weight: lighter;
  line-height: 0px;
}

.header__data--n {
  color: var(--txt-color-error);
  font-weight: 500;
}
.header__data p {
  line-height: 15px;
}
#solicitante {
  display: flex;
  font-size: 17px;
  font-weight: bolder;
  color: var(--txt-color-subt);
}
#solicitante p {
  margin-left: 10px;
  font-weight: 400;
}
.desc__foot h3 {
  font-size: 17px;
  font-weight: bolder;
  color: var(--txt-color-subt);
  line-height: 15px;
}
.btn-raised-e {
  background-color: var(--btn-color-error);
  color: white;
  margin-right: 20px;
}
.btn-raised-s {
  color: white;
  background-color: var(--btn-color-scss);
  margin-right: 20px;
}
.btn-raised-p {
  background-color: var(--btn-color-pri);
  color: white;
}

/*Estilos para COTIZACIONES*/
.quotations-section {
  padding: 15px;
  margin-top: 15px;
}

/*Estilos para CUADROS*/
.comparative-section {
  margin-top: 15px;
  /*border-radius: 10px;
  border: 1px solid;
  border-color: #e0e0e0;*/
  padding: 15px;
  display: grid;
  place-items: center;
}
.selection-quotation {
  width: 60%;
  padding: 15px;
}

/*DECISION e INFORMES*/

.decisionReports-section {
  padding: 15px;
  margin-top: 15px;
  display: grid;
  place-items: center;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 10px;
}

.report--comentary {
  text-align: center;

  width: 100%;
}
.report--comentary mat-form-field {
  width: 60%;
}

.btn-raised-error {
  background-color: var(--btn-color-error);
  color: white;
  margin-right: 15px;
}
.btn-raised-success {
  background-color: var(--btn-color-scss);
  color: white;
  margin-left: 15px;
}
.decision__quotation {
  width: 60%;

  display: grid;
  place-items: center;
}
.decision__card {
  border-radius: 7px;
  box-shadow: 0 5px 5px rgba(68, 68, 68, 0.247);
  overflow: hidden;

  height: 85px;
  width: 70%;
  margin-bottom: 15px;
  color: white;
  padding: 10px;
  background: linear-gradient(148deg, #740aa5, #b01ff3, #1cc3e9);
  background-size: 600% 600%;

  animation: fluctuant 10s ease infinite;
}

.decision__card h4 {
  font-size: 17px;
  line-height: 10px;
}
.decision__card p {
  color: white;
  font-weight: 600;
  margin-left: 5px;
  letter-spacing: 1px;
}
.decision__card h3 {
  line-height: 15px;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.report-section {
  border-radius: 10px;
  border: 1px solid;
  border-color: #e0e0e0;
  padding: 5px;
  width: 60%;
  margin: auto;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

@keyframes fluctuant {
  0% {
    background-position: 50% 49%;
  }
  50% {
    background-position: 100% 52%;
  }
  100% {
    background-position: 0% 49%;
  }
}
