<div style="        display: grid;
place-items: center;">
    <div class="container">
        <div>
            <button mat-stroked-button [routerLink]="['/home-raf']"> <mat-icon matSuffix>arrow_back</mat-icon> Volver</button>
        </div>
        <div class="header" style="margin-top: 10px; width: 100%;">

            <div class="header__title">
                <h1>{{reqReceived?.type}}</h1>
                <h3 *ngIf="reqReceived?.initials!=null" style="font-style: italic;">Solicitado por proyecto {{reqReceived?.initials}}</h3>
            </div>
            <div class="header__data" style="text-align: end;">
                <p class="header__data--n">Nro {{reqReceived?.idSpendingUnitRequest}}</p>
                <p [ngStyle]="{'color':getColorSR(reqReceived?.status)}"
                    style="font-style: italic; font-size: 17px; text-transform: uppercase; font-weight: 600;">
                    {{reqReceived?.status}}</p>
            </div>
            <p style="font-style: italic;">Emitido el {{reqReceived?.date}}</p>
            <h3 id="solicitante">Solicitante: <p>{{reqReceived?.username}}</p></h3>
        </div>
        <div class="section" style="width: 100%;">
            <mat-accordion>
                <mat-expansion-panel [expanded]="getPanelState(reqReceived?.status)"  
                                      class="section--desc" >
                  <mat-expansion-panel-header style="background-color:  #fafafa;">
                    <mat-panel-title style="font-weight: bold;">
                      DESCRIPCIÓN
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p style="margin-top: 10px; font-size: 17px;">Lista de productos/servicios</p>



                  <div style="display: grid; place-items: center;">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">

                    <ng-container matColumnDef="index" >
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;font-weight: bold;"> Nro </th>
                        <td mat-cell *matCellDef="let element;let i=index;" style="text-align: center;" > {{i+1}} </td>
                    </ng-container>

                    <ng-container *ngFor="let columna of columnas" matColumnDef="{{columna.name}}" >
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;  min-width: 85px; font-weight: bold;"> {{columna.titulo}}  </th>
                      <td mat-cell *matCellDef="let element" style="min-width: 85px;text-align: center;"> {{element[columna.name]}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table></div>

                  <div class="desc__foot" style=" margin-top: 25px;">
                        <div >
                            <h3 style="  text-align: end;">Total estimado: 
                                <p style="display: inline-flex; font-weight: 400;">Bs. {{reqReceived?.estimatedAmount}}</p> 
                            </h3>
                        </div>
                        <h3 >Justificación:</h3>
                        <p style="margin:0 20px 0 20px;">
                            {{reqReceived?.justification}} 
                        </p>
                  </div>
                  <div [formGroup]="justificationReject">
                    <div class="report--comentary" style="margin-top: 25px;" *ngIf="DecisionDescripcion==true">
                        <mat-form-field appearance="outline">
                            <mat-label>Justificación</mat-label>
                            <input placeholder="Justifique su decision" matInput style="height: 40px;" formControlName='justify' required>
                            <mat-error >campo obligatorio</mat-error>
                        </mat-form-field>
                    </div>

                    <div  style="text-align: end;"  
                        *ngIf="DecisionDescripcion==true" >
                        <button mat-button style="  color: #0a6cff;
                        margin-right: 20px;"  
                        (click)="rechazarPendiente()">CANCELAR</button>
                        <button mat-raised-button class="btn-raised-e"  [disabled]='justificationReject.invalid'
                        (click)="generateReport('Rechazado')" >CONFIRMAR RECHAZO</button>
                    </div>
                  
                  </div>

                    
                    <div  style="text-align: end; margin-bottom: 10px; margin-top: 15px;"  
                        *ngIf="DecisionDescripcion==false">
                        <button mat-raised-button class="btn-raised-e" [disabled]="disabledButtons(reqReceived?.status)" 
                        (click)="rechazarPendiente()">RECHAZAR</button>
                        <button mat-raised-button class="btn-raised-s" [disabled]="disabledButtons(reqReceived?.status)" 
                        (click)="changeState(reqReceived?.idSpendingUnitRequest,'Autorizado',null)">AUTORIZAR</button>
                  </div>
                </mat-expansion-panel>

                <!-- COTIZACIONES -->
                <mat-expansion-panel [expanded]="getPanelState2(reqReceived?.status)"  
                                    [disabled]="getBlockedC(reqReceived?.status)" >
                    <mat-expansion-panel-header style="background-color:  #fafafa;">
                    <mat-panel-title style="font-weight: bold;">COTIZACIONES</mat-panel-title> 
                    </mat-expansion-panel-header>

                        <form class="quotations-section" [formGroup]="dateValidation">
                            <div style="text-align: center; padding: 15px;" *ngIf="dateExpiration==null || dateEdit==true">
                                <p>Es necesario elegir una fecha de vencimiento para los formularios.</p>
                                <div style="display: inline-flex; align-items: center;">
                                    <mat-form-field  appearance="outline">
                                        <mat-label>Fecha de vencimiento</mat-label>
                                        <input matInput  [(ngModel)]="dateExpired" type="date" placeholder="Ingrese fecha limite" formControlName='date' required > 
                                        <mat-error >campo obligatorio</mat-error>
                                    </mat-form-field>
                                    <div style=" margin-bottom: 15px; margin-left: 15px;">
                                        <button mat-mini-fab color="primary" (click)="saveDateExpiration(reqReceived?.idSpendingUnitRequest)"><mat-icon>save</mat-icon></button>
                                    </div>
                                </div>
                            </div>  
                            <div style=" display: flex;  justify-content: center;" *ngIf="dateExpiration!=null && dateEdit==false">
                                <h2 style="color: #0a6cff; font-size: 17px; display: flex; margin-top: 5px;" >
                                    Fecha de expiración de los formularios:  <p style="font-style: italic;"> {{dateExpiration}}</p>
                                </h2>
                                <div   style="margin-left: 10px;" >
                                    <button mat-mini-fab matTooltip="editar fecha"  mat-icon-button (click)="dateEdit=true">
                                        <mat-icon style="font-size: 20px; ">edit</mat-icon></button>
                                </div>
                            </div>

                            <div class="quotation--cards" >
                                <mat-grid-list cols="3"  rowHeight="160px"  gutterSize="10px"  >
                                    <mat-grid-tile *ngFor="let quotCard of quotationsCard" >
                                    <app-qoatation-card style="width: 100%;" [idSR]="reqReceived?.idSpendingUnitRequest" 
                                    [reqStatus]="reqReceived?.status"
                                    [quot]='quotCard'
                                    ></app-qoatation-card>
                                </mat-grid-tile>
                            </mat-grid-list>
                            </div>

                            <div style="text-align: center;padding: 15px;">
                                <button mat-raised-button class="btn-raised-p" (click)="openDialog()" 
                                [disabled]="validDate(reqReceived?.status)"> <mat-icon>add</mat-icon> COTIZACIÓN</button>
                            </div>
                        </form>
                        <!--CUADROS COMPARATIVOS-->
                </mat-expansion-panel>
                        <mat-expansion-panel    
                        [disabled]="getBlockedCuadros(reqReceived?.status)">
                            <mat-expansion-panel-header style="background-color:  #fafafa;" >
                            <mat-panel-title style="font-weight: bold;">CUADRO COMPARATIVO</mat-panel-title> 
                            </mat-expansion-panel-header>

                        <div class="comparative-section">
                            <div class="selection-quotation">
                                <p style="font-size: 17px; font-weight: 500;">Cotizaciones completadas</p>
                                <mat-selection-list #quots (selectionChange)="onGroupsChange(quots.selectedOptions.selected)">
                                    <mat-list-item *ngFor="let quot of quotationsCompleted" [value]="quot">
                                        <div >
                                            <p style="line-height: 15px;">{{quot.nameBussiness}}</p>
                                            <p style="font-size: 12px; font-weight: 500; line-height: 0px; font-style: italic;" [ngStyle]="{'color':getColorQuotation(quot.state)}">{{quot.state}}</p>

                                        </div>
                                    </mat-list-item>
                                </mat-selection-list>

                            </div> 
                            <div style="text-align: center;padding: 15px;">
                                <button mat-raised-button class="btn-raised-p" [disabled]="verifyCheck()" (click)="setStateButtonDialog()">GENERAR CUADRO</button>
                                

                            </div>

                            <div class="comparative__charts" *ngIf="activateChart()">
                                <p>CUADRO COMPARATIVO</p><button mat-raised-button class="btn-raised-p"  (click)="setStateFalse()" *ngIf="reqReceived?.status=='Cotizando'"><mat-icon>refresh</mat-icon> NUEVO</button>
                                <app-comparative-chart *ngFor="let i of [1]" [quotationsCompleted]="quotationsCompleted"
                                [status]="status"  [pressedNew]="pressedNew"
                                (chartComp)="comparativeChartRec($event)"
                                ></app-comparative-chart>
                            </div>

                            
                        </div>
                    
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="getPanelState4(reqReceived?.status)" 
                      [disabled]="getBlockedDecision(reqReceived?.status)">
                    <mat-expansion-panel-header style="background-color:  #fafafa;">    
                    <mat-panel-title style="font-weight: bold;">DECISIÓN E INFORME</mat-panel-title> 
                    </mat-expansion-panel-header>
                <div class="decisionReports-section" *ngIf="reqReceived?.status=='Cotizando'">
                    <div class="selection-quotation"  *ngIf="quotationsCompleted!=null">
                        <p style="font-size: 17px; font-weight: 500;">Cotizaciones para elegir</p>
                        <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [(ngModel)]="quotChoice">
                            <mat-radio-button class="example-radio-button" *ngFor="let quot of quotationsCompleted" [value]="quot" >
                                <div >
                                    <p style="line-height: 10px;">{{quot.nameBussiness}}</p>
                                    <p style="font-size: 12px; font-weight: 500; line-height: 0px; font-style: italic;" [ngStyle]="{'color':getColorQuotation(quot.state)}">{{quot.state}}</p>
                                </div>
                            </mat-radio-button>
                            <mat-error *ngIf="selectedButton()"><mat-icon>report_problem</mat-icon> Seleccione una cotizacion</mat-error>
                        </mat-radio-group>
                    </div>

                    <div class="report--comentary"[formGroup]='justificationReject'>
                        <mat-form-field appearance="outline">
                            <mat-label>Comentario/Justificación</mat-label>
                            <input matInput style="height: 40px;" [required]="comentRequired()|| rechazar()" formControlName='justify'>
                            <mat-error >Este campo es obligatorio</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <div style="text-align: center;padding: 15px;">
                            <button mat-raised-button class="btn-raised-error" 
                                [disabled]="disabledBtnAR(reqReceived?.status)"  
                                (click)="generateReport('Rechazado')"
                                >RECHAZAR</button>
                            <button mat-raised-button class="btn-raised-success" 
                                [disabled]="disabledBtnAR(reqReceived?.status)"
                                (click)="generateReport('Aprobado')"  
                                >APROBAR</button>
                        </div>
                    </div>


                </div>
                <div *ngIf="(reqReceived?.status=='Aprobado'||reqReceived?.status=='Rechazado')" 
                    class="decisionReports-section" style="margin-bottom: 15px;">
                    <div class="decision__quotation" 
                        *ngIf="reqReceived?.status!='Rechazado'"
                        style=" text-align: start;" >
                        <div style="width: 100%; text-align: start;">
                            <h3 style="font-weight: 500; font-size: 17px;">Cotizacion elegida</h3>
                        </div>
                        <div class="decision__card">
                            
                            <div style="display: flex; margin-top: 10px; justify-content: space-between;  ">
                                <h3>{{report?.nameBusiness}} </h3>
                                <mat-icon  style="margin-top:-10px; ">check_circle</mat-icon>
                            </div>
                            <h4>{{report?.nameArea}} </h4>
                            <h4 style="display: flex;">Total Bs. <p>{{report?.total}} </p></h4>
                        </div>
                    </div>
                    <div style="width: 60%;  margin-bottom: 10px;">
                        <h3 style="font-weight: 500; font-size: 17px; line-height: 20px;">Razón de la decision.</h3>
                        <p style="margin-left: 10px; font-size: 15px;">
                            {{report?.descripcion}}
                        </p>
                    </div>


                    <app-files [idSR]="reqReceived?.idSpendingUnitRequest" [code]="'reportPedido'"
                        style="width: 100%;"   >
                        </app-files>
                </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>