
  
<div style="display: grid; place-items: center; ">

    <app-nav-bar [transform]="'admin'"></app-nav-bar>

        <div style="width: 80%;  min-width: 700px;">
            <div id="action-bar">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Filtrar por</mat-label>
                        <mat-select disableRipple>
                          <mat-option value="Todos">Todos</mat-option>
                          <mat-option value="Pendiente">Pendiente</mat-option>
                          <mat-option value="Autorizado">Autorizado</mat-option>
                          <mat-option value="Cotizando">Cotizando</mat-option>
                          <mat-option value="Rechazado">Rechazado</mat-option>
                          <mat-option value="Aprobado">Aprobado</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
       
                <div>
                    <button class="btn-pri" mat-raised-button routerLink="/form-solicitud">
                        NUEVA SOLICITUD
                    </button>
                </div>
            </div>
            <div id="lista">
                <h2 >Lista de solicitudes enviadas.</h2>
                <mat-grid-list [cols]="cols$ | async" rowHeight="270px" gutterSize="10px" >
                    
                    <mat-grid-tile *ngFor="let req of requestsSent">
                        <app-summary-card [nro]="req.idSpendingUnitRequest" [sigla]="req.initials" [date]="req.date" [status]="req.status"
                        [type]="req.type" [amount]="req.estimatedAmount" [username]="req.username"></app-summary-card>
                    </mat-grid-tile>

                    
                </mat-grid-list>

            </div>
        </div>

</div>
<style>

    .spacer {
    flex-grow: 1;
    }
    #lista h2{
        color: var(--txt-color-subt);
        margin-left: 3%;
    }
    .btn-pri{
        background-color: var(--btn-color-pri);
        color: white;
        height: fit-content;
        margin-top:10px ;
    }
   /* #lista{
        display: grid;
        place-items: center;
        background-color: aqua;
        
    }*/
    #action-bar{
    margin:0 2% 0 2%;
    display: flex;
    justify-content: space-between;
        padding: 15px;
    }
</style>