
    
    <div class="search">
        <mat-card-content>
            <mat-card-title>Elija un empresa</mat-card-title>
            
        </mat-card-content>
        <div class="search__content">
            <p>Aqui funcionalidad para buscar empresa</p>
            <button mat-button matTooltip="para buscar empresas" aria-label="Button that displays a tooltip when focused or hovered over"><mat-icon >search</mat-icon></button>
        </div>
        <mat-divider></mat-divider>
        <div style="text-align: end; margin-top: 15px;" class="btn__search">        
 
            <button mat-button mat-dialog-close (click)="createQuataion2()"  >ELEGIR</button>
            <button mat-button mat-dialog-close > OMITIR </button>
        </div>

        
    </div>

<!--div style="text-align: end;">
    <button mat-raised-button style="background-color: #1975ff; color: white;" >
        CONTINUAR
    </button>
           <button mat-button mat-dialog-close (click)="createQuataion()"  [routerLink]="['/req-content', idR,'form-quotation']"> CREAR </button>
            <button mat-button mat-dialog-close (click)="createQuataion()"  *ngIf="send==true"      ng-init="[routerLink]='['/req-content', idR,'form-quotation']'">> ELEGIR </button>
</div-->
<style>
    .snackSuccess{
        background-color: var(--state-color-5);
        
    }
    .search__content{
        width: max-content;
        height: 300px;
        width: 400px;
        text-align: center;
    }

    .btn__search button{
        color: var( --txt-color-title2);
    }

</style>