<mat-card class="mat-elevation-z2" [ngStyle]="{'background-color':getColor(status)}" > 
    <mat-card-title style="font-size: 18px; color: #585858;">{{nameCompany}}</mat-card-title>

        <p>creado el {{date}}</p>
        <p >{{status}}</p>


    <div class="btn-icons">        
        <button mat-icon-button><mat-icon>launch</mat-icon></button>
        <button mat-icon-button  ><mat-icon>delete</mat-icon></button>
    </div>

</mat-card>
<style>
    mat-card{
        border-radius: 10px;
    }
    p{
        line-height: 10px;
        font-style: italic;
        font-weight: 450;
        color: #747474;
        
    }
    .btn-icons{
        text-align: end;

    }
    mat-icon{color:#525252}
</style>