<mat-card class="mat-elevation-z2" [ngStyle]="{'background-color':getColor(quot?.state)}" > 
    <mat-card-title style="font-size: 18px; color: #585858;">{{quot?.nameBussiness}}</mat-card-title>

        <p>{{quot?.nameArea}}</p>
        <p >{{quot?.state}}</p>


    <div class="btn-icons">        
        <button mat-icon-button (click)="routerQuotation(quot?.state)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button (click)="actionDelete(quot?.idPriceQuotation)" 
            *ngIf="reqStatus=='Cotizando'"
        ><mat-icon>delete</mat-icon></button>
    </div>

</mat-card>
<style>
    mat-card{
        border-radius: 10px;
    }
    p{
        line-height: 10px;
        font-style: italic;
        font-weight: 450;
        color: #747474;
        
    }
    .btn-icons{
        text-align: end;
        margin-top: 20px;
        
    }
    mat-icon{color:#525252}
    ::ng-deep .snackSuccess {
  background-color: var(--state-color-5);
}
::ng-deep .snackSuccess button {
  color: white;
}
</style>