<mat-card class="mat-elevation-z2" [ngStyle]="{'background-color':getColor(quot?.state)}" > 
    <mat-card-title style="font-size: 18px; color: #585858;">{{quot?.nameBussiness}}</mat-card-title>

        <p>creado el {{quot?.nameArea}}</p>
        <p >{{quot?.state}}</p>


    <div class="btn-icons">        
        <button mat-icon-button [routerLink]="['/quot-content', quot?.idPriceQuotation]"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button  ><mat-icon>delete</mat-icon></button>
    </div>

</mat-card>
<style>
    mat-card{
        border-radius: 10px;
    }
    p{
        line-height: 10px;
        font-style: italic;
        font-weight: 450;
        color: #747474;
        
    }
    .btn-icons{
        text-align: end;
        margin-top: 20px;
        
    }
    mat-icon{color:#525252}
</style>