<div style="display: flex; justify-content: center;  align-items: center; background-color: rgb(252, 252, 252);" >
    <div class="container">

            <div class="header">
                <div style="width: 50px; padding-left: 20px;">
                    <mat-icon  style="font-size: 40px; color: white; margin-top: 15px;">feed</mat-icon></div>
                <div class="header__title">
                    
                    <h2 style="line-height: 10px; margin-top: 5px;">FORMULARIO DE COTIZACIÓN</h2>
                    <p style="line-height: 0px;">Moneda (Bs)</p>
                </div>
                <span class="example-spacer"></span>
                <div class="header--actions">
                    <button mat-button matTooltip="Subir cotizacion escaneado" class="btn-icons"><mat-icon >upload_file</mat-icon></button>
                    <button mat-button matTooltip="Imprimir formulario" class="btn-icons" ><mat-icon >print</mat-icon></button>
                    <button mat-raised-button style="margin-right: 25px; margin-left: 15px;"> ENVIAR </button>
                </div>
            </div>



            <div style="padding:10px;">
                <div>
                    <h3>Informacion de la empresa</h3>
                    <div class="info-empresa" style="padding: 15px; ">
                        <h3 id="solicitante">Razon social: <p> Nombre empresa S.R.L </p></h3>
                        <h3 id="solicitante">NIT: <p>123456789012</p></h3>
                        <h3 id="solicitante">e-mail: <p>innovaempresa.srl@gmail.com</p></h3>
                        <h3 id="solicitante">Telefono: <p>4862 4813 254</p></h3>
                        <h3 id="solicitante">Direccion: <p>Cochabamba Av. Oquendo y Venezuela</p></h3>

                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="form-base">
                    
                    <h3>Informacion de la cotizacion</h3>

                    <div class="form-base__s1" >
                        <div class="form-base__s1--fds" style=" width: 100%;">
                            <!--div   style="background-color: beige;">
                                <mat-form-field appearance="outline">
                                <mat-label>Razon social</mat-label>
                                <input matInput placeholder="Placeholder">
                                
                                <mat-hint>obligatorio*</mat-hint>
                              </mat-form-field>
                            </div-->
                            <div  >
                                <mat-form-field  appearance="outline">
                                    <mat-label>Forma de pago *</mat-label>
                                    <mat-select>
                                        <mat-option value="Crédito">A Crédito</mat-option>
                                        <mat-option value="Contado">Al Contado</mat-option>
                                        <mat-option value="Contado y Crédito">Al Contado y a Crédito</mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                            <div>

                              <mat-form-field  appearance="outline">
                                <mat-label>Tiempo de entrega*</mat-label>
                                <input matInput placeholder="Ingrese tiempo de entrega(días)"  >

                              </mat-form-field>
                            </div>

                        </div >
                        <div class="form-base__s1--fds"  style=" width: 100%;">

                            
                            <div>
                                <mat-form-field  appearance="outline">
                                    <mat-label>Tiempo de garantia</mat-label>
                                    <input matInput placeholder="Placeholder">

                                  </mat-form-field>
                            </div>
                            <div  >                           
                                <mat-form-field  appearance="outline">
                                    <mat-label>Validez de oferta</mat-label>
                                    <input matInput  type="date" placeholder="Ingrese Validez de oferta"  > 
                                    <mat-error class="form__validation--size">campo Validez de oferta es requerido</mat-error>
                                  </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <mat-divider></mat-divider>
                    <h3>Detalle del item/articulo/bien/servicio</h3>

                    <div class="form-base__s2">
                        
                        <div style=" width: 70%;  display: grid;
                        padding: 25px; " >
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z5" style="width: 100%;">
        
                            <ng-container matColumnDef="index" >
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;font-weight: bold;"> Nro </th>
                                <td mat-cell *matCellDef="let element;let i=index;" style="text-align: center;" > {{i+1}} </td>
                            </ng-container>
        
                            <ng-container *ngFor="let columna of columnas" matColumnDef="{{columna.name}}" >
                              <th mat-header-cell *matHeaderCellDef style="text-align: center;  min-width: 85px; font-weight: bold;"> {{columna.titulo}}  </th>
                              <td mat-cell *matCellDef="let element" style="min-width: 85px;text-align: center;"> {{element[columna.name]}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                          </table>
                        </div>
                        <!--a>  Text fields para tabla   </a-->
                        <div class="s2__fields" >

                              <div >
                                <mat-form-field  appearance="outline">
                                    <mat-label>Cantidad</mat-label>
                                    <input matInput placeholder="Placeholder">
                                    
                                    <mat-hint>Hint</mat-hint>
                                  </mat-form-field>
                              </div>
                              <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Unidad</mat-label>
                                    <input matInput placeholder="Placeholder">
                                    
                                    <mat-hint>Hint</mat-hint>
                                  </mat-form-field>
                              </div>
                              <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Detalle</mat-label>
                                    <input matInput placeholder="Placeholder">
                                    
                                    <mat-hint>Hint</mat-hint>
                                  </mat-form-field>
                              </div>
                              <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Precio unitario</mat-label>
                                    <input matInput placeholder="Placeholder">
                                    
                                    <mat-hint>Hint</mat-hint>
                                  </mat-form-field>
                              </div>
                            <div  style="width: 100%; padding-top: 15px; padding-bottom: 20px; text-align: center;">
                                <button mat-raised-button style="background-color: #1975ff; color: white;" >
                                    AÑADIR ITEM
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div  class="form-actions">
                    <button mat-button style="color: #ff4848;margin-right: 15px;"> CANCELAR</button>
                    <button mat-raised-button style="background-color: #1975ff; color: white;margin-right: 15px; " >
                        GUARDAR
                    </button>
                </div>
            </div>
    </div>
</div>

<style>
        .snackSuccess{
        background: var(--state-color-5);
        
    }
    h3{
        color: var(--txt-color-subt);
        font-weight: 500;
        text-align: center;
        margin-top: 15px;
        font-size: 17px;

    }
        .container{
        width: 80%;
        min-width: 900px;
        max-width: 1300px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 20px 50px -15px #c2c2c2;
        height: 100%;
        border-radius: 10px;
            margin-top: 50px;
            margin-bottom: 100px;
    }
    .header{
        display: flex;
        height: 75px; width: 100%;
        background-color: var(--txt-color-title2);
        
    }
    .header__title {
        text-align: start;
        align-self: center;
        color: white;
        min-width: 300px;
    }
    .header--actions{
        display: flex;
        align-items: center;
    }
    .btn-icons mat-icon{
         color: white;
         font-size: 30px;
         margin-top: -7px;
    }

    .example-spacer {
        flex: 1 1 auto;
    }

    .info-empresa h3{
        text-align: start; 
        margin-left: 15px;
        display: flex; 
        line-height: 10px; 
        font-size: 16px;
    }
    .info-empresa p{        
        margin-left: 15px;
        font-weight: lighter;}
    /*contenido form-base*/
    .form-base__s1{
        padding: 15px;
        text-align: center;
    }
    .form-base__s1 div{
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: center;
        display: inline-flex;
    }

    .form-base__s1--fds div{
        width: 25%;
        padding-left: 35px;
        padding-right: 35px;
    }
    .form-base__s1--fds mat-form-field{
        width: 100%;
    }
    /*tabla*/
    .form-base__s2{
        display: flex;
        padding: 15px;
        margin-bottom: 15px;
    }
    /*fields*/
    .s2__fields{
        width: 30%;
        border-radius: 10px; border:  1px solid;
        border-color: #e0e0e0;

        text-align: center;
    }
    .s2__fields mat-form-field{
        width: 70%;
        margin-top: 15px;
        min-width: 220px;
    }

    /*Botones*/
    .form-actions{
        text-align: end; width: 100%;
        padding-top: 25px;padding-bottom: 25px;
    }


</style>
