
<mat-card style="width: 600px; " class="mat-elevation-z4">

    <div style=" margin-top: -5px; display: flex;">
       
        <div class="status-bar" [ngStyle]="{'background-color':getColorSR(status)}"></div>
        
        <div style="display: flex;">
            <div style=" margin-top: 5px; text-align: center; width: 100px;"><p id="nroPedido">Nro {{nro}}</p></div>
            <button *ngIf="data!=null && permitFile==true" matTooltip="mostrar informe" mat-icon-button style="margin-top: -4px; margin-left: -10px" (click)="openReport()">
                <img  width="20px" height="20px"  src="./../../../assets/file-pdf-regular.svg" alt="pdf del reporte"></button>
        
            <button mat-icon-button style="margin-top: -4px; margin-right: -10px;" (click)="openDialog()"><mat-icon>launch</mat-icon></button>
        </div>

    </div>

    <mat-card-header style="margin-left: -17px; ">
        <mat-card-title >{{type}}</mat-card-title>
        <mat-card-subtitle >Sigla {{sigla}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div>
            <p>Solicitante: <b>{{username}}</b></p>
            <p>Total Estimado: <b>Bs. {{amount}}</b></p>
        </div>
        <div style="text-align: end;" >
            <p id="status" [ngStyle]="{'color':getColorSR(status)}">{{status}}</p>
            <p id="fecha">Emitido el  {{date}}</p>
        </div>
    </mat-card-content>

  </mat-card>

  <style>
      .status-bar{
          width: 100%;
          height: 5px;
          border-radius: 15px;
          margin-top: 10px;
      }
      p {
        font-size: 17px;
        font-weight: bolder;
        color: var(--txt-color-subt);

    }
    b {
    font-weight: normal;
    }
    #nroPedido{
        color: var(--txt-color-error);
        font-weight: 500;
    }
    #status{
        font-style: italic;
        font-weight: bold;

        text-transform: uppercase;
        }
    #fecha{        
        font-style: italic;
        font-weight: normal;}
    #pbar{
        margin-top:15px;
        
    }

  </style>