<div class="card"> 
    <div style="text-align: center; margin-top: 5px; margin-bottom: 10px;"> 
        <h2>Registrar Rol</h2>
    </div> 

        <div style="width: 100%; margin-top: 20px;" >
            <div class="field">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Nombre de Rol</mat-label>
                <input matInput placeholder="ingres nombre de rol" required type="text">
                <mat-error >este campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="ingrese una description" required type="password">
                <mat-error>este campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <div  class="field">
                <label id="example-radio-group-label">Elije tipo de unidad a la que pertenece el rol</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="typeUnit">
                    <mat-radio-button  class="example-radio-button" value="1">Administracion financiera</mat-radio-button>
                    <mat-radio-button  class="example-radio-button" value="2">Unidad de gasto</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="field">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Privilegios</mat-label>
                    <mat-select [(value)]="facultieSelected">
                      <mat-option value="none">None</mat-option>
                      <mat-option value="1">Facultad de Ciencias y Tecnologia</mat-option>
                      <mat-option value="2">Facultad de Arquitectura</mat-option>
                      <mat-option value="3">Facultad de Humanidades y Ciencias de Educación</mat-option>
                      <mat-option value="4">Facultad de Arquitectura y Ciencas del Hábitat</mat-option>
                      <mat-option value="5">Facultad de Ciencias Economicas</mat-option>
                      <mat-option value="6">Facultad de Ciencias Juridicas y Politicas</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div style="text-align: center; width: 100%;">
                <button mat-raised-button class="btn-login">
                    REGISTRAR
                </button>
            </div>
        </div>

</div>


<style>
    .card{
        width:310px;
        height: 490px;
        background-color: white;

    }
    .field{
        width: 100%;
        padding-bottom: 15px;

    }
    
    .btn-login{
        background-color: var( --txt-color-title2);
        width: 100%;
        color: white;
        height: 40px;
    }
    .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    }

    .example-radio-button {
    margin: 5px;
    margin-left: 20px;
    }
</style>

