<div *ngIf="transform===''">
    <mat-toolbar >
        <button mat-icon-button >
            <mat-icon></mat-icon>
          </button>
        <span>Sistema de cotizaciones</span>
        <div class="example-spacer"></div>
        <a *ngIf="transform==='admin'" mat-button routerLink=""><mat-icon></mat-icon> Permisos/Usuarios</a>
        <a mat-button ><mat-icon>home</mat-icon> Inicio</a>
        <a mat-button><mat-icon>supervised_user_circle</mat-icon> About us</a>
        <a mat-raised-button ><mat-icon>login</mat-icon> Iniciar sesion</a>
    </mat-toolbar>

</div> 
<div *ngIf="transform==='raf'">
    <mat-toolbar >
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
          </button>
        <span>Sistema de cotizaciones</span>
        <div class="example-spacer"></div>
        <a mat-button routerLink="/home-raf"><mat-icon>home</mat-icon> Inicio</a>
        <a mat-button><mat-icon>supervised_user_circle</mat-icon> Unidades</a>
        <a mat-button><mat-icon>business</mat-icon> Empresas</a>
        <a mat-raised-button class="btn-raised " ><mat-icon>account_circle</mat-icon> {{user.userName}}<mat-icon>expand_more</mat-icon></a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="btn-logout">
                    <a mat-raised-button color="accent"(click)="logout()" ><mat-icon>logout</mat-icon> Cerrar sesion</a>
                </button>
            </mat-menu>
        

    </mat-toolbar>

</div> 
<div  *ngIf="transform==='rug'">
    <mat-toolbar >
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
          </button>
        <span>Sistema de cotizaciones</span>
        <div class="example-spacer"></div>
        <a mat-button routerLink="/home-rug"><mat-icon>home</mat-icon> Inicio</a>
        <a mat-raised-button class="btn-raised " [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon> {{user.userName}} <mat-icon>expand_more</mat-icon></a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="btn-logout">
                    <a mat-raised-button color="accent"(click)="logout()" ><mat-icon>logout</mat-icon> Cerrar sesion</a>
                </button>
            </mat-menu>
    </mat-toolbar>
</div>

<div  *ngIf="transform==='admin'" >
    
<mat-toolbar >
    <button mat-icon-button >
        <mat-icon>menu</mat-icon>
      </button>
    <span>Sistema de cotizaciones</span>
    <div class="example-spacer"></div>
    <a  mat-button routerLink=""><mat-icon>fact_check</mat-icon>Roles/Permisos</a>
    <a  mat-button routerLink=""><mat-icon>person</mat-icon>Usuarios</a>
    <a mat-button routerLink=""><mat-icon>supervised_user_circle</mat-icon> Unidades</a>
    <a mat-button routerLink=""><mat-icon>business</mat-icon> Empresas</a>
    <a mat-raised-button class="btn-raised "[matMenuTriggerFor]="menu" ><mat-icon>account_circle</mat-icon> {{user.userName}}<mat-icon>expand_more</mat-icon></a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="btn-logout">
                <a mat-raised-button color="accent"(click)="logout()" ><mat-icon>logout</mat-icon> Cerrar sesion</a>
            </button>
        </mat-menu>
</mat-toolbar>
</div>
