<div style="width: 400px;">
    <div style="display: flex; text-align: center;  width: 100%; ">
        <button mat-mini-fab color="primary" ><mat-icon >link</mat-icon></button>
        <h3 style="margin-left: 15px; margin-top: 5px; font-size: 18px; font-weight: 500;">
            Obtener Enlace
        </h3>
    </div>
    <div style="width: 100%; text-align: center; display: flex; margin-top: 15px;">
        <div style="width: 85%;">
            <mat-form-field appearance="outline" style="width: 100%;"  >
                <input matInput   [(ngModel)]="link" style="color:#0a6cff ;">
              </mat-form-field>
        </div>

        <button mat-icon-button style="margin-left: 5px; margin-top: 10px;"  [cdkCopyToClipboard]="link"><mat-icon> content_copy</mat-icon></button>
    </div>
    
</div>

