<form  [formGroup]="registerUser" #formDirective="ngForm" (ngSubmit)="saveUnit(registerUser.value,formDirective)">

<div class="card"> 
    <div style="text-align: center; margin-top: 10px; margin-bottom: 15px;"> 
        <h2>Registrar Usuario</h2>
    </div> 

        <div style="width: 100%;">
            <div class="field">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="ingres nombre de usuario" formControlName="name"
                        required type="text">
                <mat-error >este campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Username</mat-label>
                <input matInput placeholder="ingrese un nick" required type="text"
                        formControlName="username" (change)="validUsername()" [(ngModel)]="existUser">
                <mat-error *ngIf="isValidField('username')" >{{getErrorMessage('text')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="ingrese una description" 
                        required type="password" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>este campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="field" style="padding-bottom: 0;">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="ingrese una description" 
                        required type="password" >
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> 
                </button>
                <mat-error>este campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <mat-divider style="padding-bottom: 15px;"></mat-divider>

            <!--asignacion-->
            <div class="field" >
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Asignar Rol</mat-label>
                    <mat-select formControlName="idRole">
                        <mat-option *ngFor="let rol of roles" [value]="rol.idRole">
                            {{rol.roleName}}
                          </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Unidad</mat-label>
                    <mat-select formControlName="idSpendingUnit">
                        <mat-option *ngFor="let unit of units" [value]="unit.idSpendingUnit">
                            {{unit.nameUnit}}
                          </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div style="text-align: center; width: 100%;">
                <button mat-raised-button class="btn-login">
                    REGISTRAR
                </button>
            </div>
        </div>

</div>


<style>
    .card{
        width:310px;
        height: 640px;
        background-color: white;

    }
    .field{
        width: 100%;
        padding-bottom: 12px;

    }
    
    .btn-login{
        background-color: var( --txt-color-title2);
        width: 100%;
        color: white;
        height: 40px;
    }
</style>

