<form  [formGroup]="registerUnit" #formDirective="ngForm" (ngSubmit)="saveUnit(registerUnit.value,formDirective)">

    <div class="card"> 
        <div style="text-align: center; margin-top: 10px; margin-bottom: 15px;"> 
            <h2>Registrar Unidad</h2>
        </div> 

            <div style="width: 100%;">
                <div class="field">
                    <mat-form-field  appearance="outline" style="width: 100%;">
                    <mat-label>Nombre de unidad</mat-label>
                    <input matInput placeholder="ingres nombre de unidad" formControlName="nameUnit" required type="text">
                    <mat-error class="form__validation--size">este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field  appearance="outline" style="width: 100%;">
                    <mat-label>Descripción</mat-label>
                    <input matInput placeholder="ingrese una description" formControlName="description" required type="text">
                    <mat-error class="form__validation--size">este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Facultad</mat-label>
                        <mat-select formControlName="faculty" >
                            <mat-option value="Facultad de Ciencias y Tecnologia">Facultad de Ciencias y Tecnologia</mat-option>
                            <mat-option value="Facultad de Humanidades y Ciencias de Educación">Facultad de Humanidades y Ciencias de Educación</mat-option>
                            <mat-option value="Facultad de Arquitectura y Ciencas del Hábitat">Facultad de Arquitectura y Ciencas del Hábitat</mat-option>
                            <mat-option value="Facultad de Ciencias Economicas">Facultad de Ciencias Economicas</mat-option>
                            <mat-option value="Facultad de Ciencias Juridicas y Politicas">Facultad de Ciencias Juridicas y Politicas</mat-option>
                        </mat-select>
                        <mat-error class="form__validation--size">este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div style="text-align: center; width: 100%;">
                    <button mat-raised-button class="btn-login" type="submit" [disabled]="registerUnit.invalid">
                        REGISTRAR
                    </button>
                </div>
            </div>

    </div>
</form>


<style>
    .card{
        width:310px;
        height: 380px;
        background-color: white;

    }
    .field{
        width: 100%;
        padding-bottom: 15px;

    }
    
    .btn-login{
        background-color: var( --txt-color-title2);
        width: 100%;
        color: white;
        height: 40px;
    }
    ::ng-deep .snackSuccess {
    background-color: var(--state-color-5);
  }
  ::ng-deep .snackSuccess button {
    color: white;
  }
</style>
