<div class="card"> 
    <div style="text-align: center; margin-top: 10px; margin-bottom: 15px;"> 
        <h2>Registrar Unidad</h2>
    </div> 

        <div style="width: 100%;">
            <div class="field">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Nombre de unidad</mat-label>
                <input matInput placeholder="ingres nombre de unidad" required type="text">
                <mat-error >este campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="ingrese una description" required type="password">
                <mat-error>este campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Facultad</mat-label>
                    <mat-select [(value)]="facultieSelected">
                      <mat-option value="none">None</mat-option>
                      <mat-option value="1">Facultad de Ciencias y Tecnologia</mat-option>
                      <mat-option value="2">Facultad de Arquitectura</mat-option>
                      <mat-option value="3">Facultad de Humanidades y Ciencias de Educación</mat-option>
                      <mat-option value="4">Facultad de Arquitectura y Ciencas del Hábitat</mat-option>
                      <mat-option value="5">Facultad de Ciencias Economicas</mat-option>
                      <mat-option value="6">Facultad de Ciencias Juridicas y Politicas</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div style="text-align: center; width: 100%;">
                <button mat-raised-button class="btn-login">
                    REGISTRAR
                </button>
            </div>
        </div>

</div>


<style>
    .card{
        width:310px;
        height: 380px;
        background-color: white;

    }
    .field{
        width: 100%;
        padding-bottom: 15px;

    }
    
    .btn-login{
        background-color: var( --txt-color-title2);
        width: 100%;
        color: white;
        height: 40px;
    }
</style>
