.page__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 25px;
}
.form__quotation {
  display: grid;
  width: 80%;
  min-width: 900px;
  max-width: 1300px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 10px 30px -10px #818181;
}
.form__header {
  display: flex;
  height: 75px;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 15px 15px 0px 0px;
}
.header__title {
  text-align: start;
  align-self: center;
  color: black;
  min-width: 300px;
  padding-left: 10px;
  padding-top: 10px;
}
.header__icon {
  width: 50px;
  padding-left: 40px;
}
.icon {
  font-size: 40px;
  color: black;
  margin-top: 15px;
}
h2 {
  line-height: 10px;
  margin-top: 5px;
  color: black;
}

h3{
  color: var(--txt-color-subt);
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  font-size: 17px;

}
.information__business{
  padding-left: 35px;
}
.info-empresa h3{
  text-align: start; 
  margin-left: 15px;
  display: flex; 
  line-height: 4px; 
  font-size: 16px;
}
.info-empresa p{        
  margin-left: 15px;
  font-weight: lighter;
}
.form__fields {
  text-align: right;
  display: flex;
  margin-bottom: 25px;
}
.fields__column1 {
  width: 50%;
  display: block;
  text-align: center;
  /* border-radius: 10px; border:  1px solid;
    border-color: #e0e0e0; */
}
.fields__column1 mat-form-field {
  width: 55%;
  margin-top: 15px;
  min-width: 300px;
}
.fields__column2 mat-form-field {
  width: 55%;
  margin-top: 15px;
  min-width: 300px;
}
.fields__column2 {
  width: 50%;
  display: block;
  text-align: center;
  /* border-radius: 10px; border:  1px solid;
    border-color: #e0e0e0; */
}
.form-base__s1{
  padding: 15px;
  text-align: center;
}
.form-base__s1 div{
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  display: inline-flex;
}

.form-base__s1--fds div{
  width: 25%;
  padding-left: 35px;
  padding-right: 35px;
}
.form-base__s1--fds mat-form-field{
  width: 100%;
}
.form__tableItem {
  
  align-items: center;
  padding: 15px;
}
.form__table {
  display: grid;
  align-items: center;
  padding: 25px;
  width: 100%;
}
table {
  
  width: 85%;
}
tr.mat-footer-row {
  font-weight: bold;
  background-color: #ebebeb;
}
.item__fields {
  width: 30%;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e0e0e0;
  /* border:  1px solid;
    border-color: #e0e0e0; */

  text-align: center;
  padding-right: 35px;
}
.item__fields mat-form-field {
  width: 70%;
  margin-top: 15px;
  min-width: 220px;
}
.form__buttomAddItem {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}
.form__buttons {
  text-align: end;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 30px;
  padding-right: 30px;
}
.btn-raised {
  color: white;
  background-color: var(--btn-color-pri);
}
.mat-divider {
  border-top-color: #ebebeb;
}
