<app-nav-bar [transform]="'raf'"></app-nav-bar>
  
<div>
    
    <div style="display: grid; place-items: center;  ">

        <div style="width: 80%; min-width: 700px; ">
            <div id="action-bar">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Filtrar por</mat-label>
                        <mat-select disableRipple (selectionChange)="filterBy($event.value)">
                            <mat-option value="Todos">Todos</mat-option>
                            <mat-option value="Pendiente">Pendiente</mat-option>
                            <mat-option value="Autorizado">Autorizado</mat-option>
                            <mat-option value="Cotizando">Cotizando</mat-option>
                            <mat-option value="Rechazado">Rechazado</mat-option>
                            <mat-option value="Aprobado">Aprobado</mat-option>
                          </mat-select>
                      </mat-form-field>
                </div>
                  <div class="monto">
                      <h2 style="font-size: 16px;">Monto tope</h2>

                      <div class="monto-div" *ngIf="editMonto==false && monto!=null ">
                          <div>
                            <h2>Bs. {{monto}}</h2>
                          </div>
                          <button  *ngIf="makeDecisions==true"mat-icon-button style="margin-top: -5px; " (click)="editMonto=true"><mat-icon>edit</mat-icon></button>
                      </div>
                        <!--para editar monto-->
                        <ng-container *ngIf="makeDecisions==true">
                            <div *ngIf="editMonto==true || monto==null">
                                <div style="margin-top: 5px; ">
                                  <mat-form-field  appearance="outline" style="width: 100%;">
                                      <mat-label>Monto</mat-label>
                                      <input matInput placeholder="ingres un monto" type="number" [(ngModel)]="montoUpdate">
                                      <mat-error >este campo es requerido</mat-error>
                                      </mat-form-field>
                                </div>
                                <button mat-icon-button style="margin-bottom: 15px; " (click)="updateMonto()"><mat-icon color="primary">save</mat-icon></button>
                            </div>
                        </ng-container>
                  </div>
            </div>
            <div id="lista">
                <h2 >Lista de solicitudes recibidas.</h2>
                <mat-grid-list [cols]="cols$ | async" rowHeight="270px" gutterSize="10px">
                    
                    <mat-grid-tile *ngFor="let req of requestsReceived" >
                        <app-sum-card-raf *ngIf="loadPedidos==true" [nro]="req.idSpendingUnitRequest" [sigla]="req.initials" [date]="req.date" [status]="req.status"
                        [type]="req.type" [amount]="req.estimatedAmount" [username]="req.username"></app-sum-card-raf>
                    </mat-grid-tile>

                </mat-grid-list>
                
                <div class="not__business" *ngIf="notRequest==true">
                    <div style=" place-items: center; height: 100%;">
                        <div class="container">
                                <h1 class="title">WHOOPS!</h1>
                                <p> No hay solicitudes en estado <a >{{status}}</a> </p>
                                
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
