
  
<div>

    <div style="display: grid; place-items: center;  ">

        <div style="width: 80%; min-width: 700px; ">
            <div id="action-bar">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Filtrar por</mat-label>
                        <mat-select disableRipple (selectionChange)="filterBy($event.value)">
                            <mat-option value="Todos">Todos</mat-option>
                            <mat-option value="Pendiente">Pendiente</mat-option>
                            <mat-option value="Autorizado">Autorizado</mat-option>
                            <mat-option value="Cotizando">Cotizando</mat-option>
                            <mat-option value="Rechazado">Rechazado</mat-option>
                            <mat-option value="Aprobado">Aprobado</mat-option>
                          </mat-select>
                      </mat-form-field>
                </div>
                  <div class="monto">
                      <h2>Monto tope</h2>
                      <div>
                          <h2>Bs. 20 0000.00</h2>
                          <button mat-icon-button style="margin-top: -5px; " ><mat-icon>edit</mat-icon></button>
                        </div>
                  </div>
            </div>
            <div id="lista">
                <h2 >Lista de solicitudes recibidas.</h2>
                <mat-grid-list [cols]="cols$ | async" rowHeight="270px" gutterSize="10px">
                    
                    <mat-grid-tile *ngFor="let req of requestsReceived" >
                        <app-sum-card-raf [nro]="req.idSpendingUnitRequest" [sigla]="req.initials" [date]="req.date" [status]="req.status"
                        [type]="req.type" [amount]="req.estimatedAmount" [username]="req.username"></app-sum-card-raf>
                    </mat-grid-tile>

                </mat-grid-list>
                
                <div class="not__business" *ngIf="notRequest==true">
                    <div style=" place-items: center; height: 100%;">
                        <div class="container">
                                <h1 class="title">WHOOPS!</h1>
                                <p> No hay solicitudes en estado <a >{{status}}</a> </p>
                                
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<style>
    #lista h2{
        color: var(--txt-color-subt);
        margin-left: 3%;
    }
    .monto{
        display: flex;
        width: 400px;
        
        align-items: center;
    }
    .monto h2{
        margin-right: 5%;
        margin-top: 2%;
        color: var(--txt-color-subt);
    }
    .monto div{
        height: 55px;
        display: flex;
        background-color:var(--color-back);
        width: 250px;
        justify-content: space-between;
        align-items: center;    

        border-radius: 10px;
    }
    .monto div h2{
        margin-top: 5%;
        margin-left: 10%;
        font-weight: bold;
        color: var(--state-color-3);

    }
   /* #lista{
        display: grid;
        place-items: center;
        background-color: aqua;
        
    }*/
    #action-bar{
    margin:0 2% 0 2%;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    }
    .container {
        padding: 15px;
        padding-bottom: 30px;
        min-width: 500px;
        min-height: max-content;  margin-bottom: 100px;
        border-radius: 10px;
        text-align: center;
}

    .not__business h1{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.60em;
    text-align: center;
    margin-bottom: 35px;
    color: rgb(48, 48, 48);
    margin-left: 10px;
    
    }
    .not__business p{
    font-size: 17px;
    text-align: center;
    color: rgb(48, 48, 48);
    }
</style>